{{>_start themeColor="#E91E63"}}
<nav class="header-bar" style="background: #E91E63!important">
  <a href="/accommodations/reservations.html" class="btn btn-link btn-sm mr-2 text-white">
    <span class="fa fa-chevron-left"></span>
  </a>
  <div class="header">
    <h4>Carolyn Mcbride</h4>
    <h5>2019-04-15 18:00</h5>
  </div>
</nav>
<div class="p-4">
  <div class="card mb-4">
    <div class="card-header">Πληροφορίες</div>
    <div class="list-menu mb-0">
      <div class="list-group-item">
        <div class="list-group-item-content">
          <h4>Carolyn Mcbride, Ms - US</h4>
          <div class="description">Όνομα Κράτησης</div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="list-group-item-content">
          <h4>12:00 - Πέμπτη, 15 Αυγούστου 2019</h4>
          <div class="description">Check In</div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="list-group-item-content">
          <h4>12:00 - Κυριακή, 19 Αυγούστου 2019 - 4 βράδια</h4>
          <div class="description">Check Out</div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="list-group-item-content">
          <h4>4κλινο / #446 - ανεπιβεβαίωτο</h4>
          <div class="description">Δωμάτιο</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">Έξτρα</div>
    <div class="list-menu mb-0">
      <div class="list-group-item">
        <div class="list-group-item-content">
          <h4>2 ενήλικες - 1 παιδί - 1 βρέφος</h4>
          <div class="description">Άτομα</div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="list-group-item-content">
          <h4>Πρωϊνό</h4>
          <h4>Ενοικίαση αυτοκινήτου</h4>
          <div class="description">Extra</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">Σημειώσεις</div>
    <div class="card-body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos minus ex enim illo quis quam sequi,
      necessitatibus accusamus totam, asperiores, dignissimos laudantium? Dolores, sit aliquam! Recusandae maxime
      minus atque assumenda.
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header">Πληρωμή</div>

    <table class="table text-monospace mb-0">
      <thead>
        <tr>
          <th>Περιγραφή</th>
          <th style="width:80px;">Ποσό</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>4κλινο - 2018-08-15 <br><small class="text-muted">2018-01-05</small></td>
          <td class="text-right">50,00€<br><small class="text-muted">50,00€</small></td>
        </tr>
        <tr>
          <td>4κλινο - 2018-08-16 <br><small class="text-muted">2018-01-05</small></td>
          <td class="text-right">50,00€<br><small class="text-muted">100,00€</small></td>
        </tr>
        <tr>
          <td>4κλινο - 2018-08-17 <br><small class="text-muted">2018-01-05</small></td>
          <td class="text-right">50,00€<br><small class="text-muted">150,00€</small></td>
        </tr>
        <tr>
          <td>4κλινο - 2018-08-18 <br><small class="text-muted">2018-01-05</small></td>
          <td class="text-right">40,00€<br><small class="text-muted">190,00€</small></td>
        </tr>
        <tr>
          <td>Προκαταβολή 30% <br><small class="text-muted">2018-01-05</small></td>
          <td class="text-right">-57,00€<br><small class="text-muted">133,00€</small></td>
        </tr>
        <tr>
          <td>Αποπληρωμή 100% <br><small class="text-muted">2018-02-15</small></td>
          <td class="text-right">-133,00€<br><small class="text-muted">0,00€</small></td>
        </tr>
      </tbody>
      {{!-- <tfoot>
            <tr>
              <th></th>
              <th class="text-right">Σύνολο:</th>
              <th class="text-right">190€</th>
              <th class="text-right">190€</th>
            </tr>
          </tfoot> --}}
    </table>
  </div>
</div>
{{>_end}}