{{>_start themeColor="#343a40"}}
<nav class="header-bar">
    <a href="/restaurants/table.html" class="btn btn-link btn-sm mr-2 text-white">
        <span class="fa fa-chevron-left"></span>
    </a>
    <div class="header">
        <h4>Τραπέζι #06</h4>
        <h5>Καταχωρήθηκε!</h5>
    </div>
</nav>
<div class="text-center">
    <h2 class="m-5" style="font-weight: 300">
        <span class="fa fa-check-circle-o text-success fa-4x mb-4"></span>
        <br>Καταχωρήθηκε!</h2>
</div>
{{>_end}}