{{>_start}}
<nav class="bg-dark sticky-top p-2 d-flex">
    <a href="table.html" class="btn btn-link btn-sm mr-2 text-white">
        <span class="fa fa-chevron-left"></span>
    </a>
    <h4 class="text-white m-0" style="font-weight:300">Λογαριασμός</h4>
</nav>
<div class="list-group-item d-flex justify-content-between">
    <div>
        Τραπέζι
    </div>
    <div>
        <strong>Α008</strong>
    </div>
</div>
<div class="list-group-item d-flex justify-content-between">
    <div>
        Σερβιτόρος
    </div>
    <div>
        <strong>Σούλα</strong>
    </div>
</div>
<div class="list-group-item list-group-item-secondary d-flex justify-content-between">
    <div>
        Παραγγελίες
    </div>
    <div>
        <strong class="text-monospace">150,00&euro;</strong>
    </div>
</div>
<div class="list-group-item d-flex justify-content-between">
    <div>
        Την μάνα τους
    </div>
    <div>
        <strong class="text-monospace">100,00&euro;</strong>
    </div>
</div>
<div class="list-group-item d-flex justify-content-between">
    <div>
        Τον πατέρα τους
    </div>
    <div>
        <strong class="text-monospace">50,00&euro;</strong>
    </div>
</div>
{{>_end}}