{{>_start}}
<nav class="header-bar">
  <a href="table.html" class="btn btn-link btn-sm mr-2 text-white">
    <span class="fa fa-chevron-left"></span>
  </a>
  <div class="header">
    <h4>Τραπέζι #06</h4>
    <h5>Πληρωμή</h5>
  </div>
</nav>
<form class="p-4">
  <div class="form-group">
    <label style="font-size: 1.2rem;font-weight: 300;">Υπόλοιπο</label>
    <div class="input-group input-group-lg">
      <input readonly class="form-control text-right" value="15,00">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon1">&euro;</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label style="font-size: 1.2rem;font-weight: 300;">Τύπος</label>
    <select class="form-control form-control-lg">
      <option selected>Μετρητά</option>
      <option value="1">Κάρτα</option>
    </select>
  </div>
  <div class="form-group">
    <label style="font-size: 1.2rem;font-weight: 300;">Πληρωμή</label>
    <div class="input-group input-group-lg">
      <input class="form-control text-right" value="20,00">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon1">&euro;</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label style="font-size: 1.2rem;font-weight: 300;">Ρέστα</label>
    <div class="input-group input-group-lg">
      <input readonly class="form-control text-right" value="20,00">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon1">&euro;</span>
      </div>
    </div>
  </div>
  <div class="bg-white border-top fixed-bottom p-1 d-flex">
    <a href="table.html" class="m-1 btn btn-lg btn-success btn-block">
      <span class="fa fa-credit-card"></span> Πληρωμή</a>
  </div>
</form>