{{>_start}}
<nav class="sticky-top bg-dark p-2 d-flex" style="height:50px;">
    <a href="table.html" class="btn btn-link btn-sm mr-2 text-white">
        <span class="fa fa-chevron-left"></span>
    </a>
    <h4 class="text-white m-0" style="font-weight:300">A008 - Παραγγελία</h4>
</nav>
<div class="text-center">
    <h2 class="display-4 m-5">
        <span class="fa fa-check-circle-o text-success fa-4x mb-4"></span>
        <br>Καταχωρήθηκε!</h2>
</div>
{{>_end}}