{{>_start}}
<nav class="header-bar">
    <a href="table.html" class="btn btn-link btn-sm mr-2 text-white">
        <span class="fa fa-chevron-left"></span>
    </a>
    <h4>#06 - Καταχωρήθηκε</h4>
</nav>
<div class="text-center">
    <h2 class="m-5" style="font-weight: 300">
        <span class="fa fa-check-circle-o text-success fa-4x mb-4"></span>
        <br>Καταχωρήθηκε!</h2>
</div>
{{>_end}}