{{>_start themeColor="#607D8B"}}
<nav class="header-bar" style="background: #607D8B!important">
  <a href="index.html" class="btn btn-link btn-sm mr-2 text-white">
    <span class="fa fa-chevron-left"></span>
  </a>
  <h4>Ρυθμισεις</h4>
</nav>
<div class="list-menu">
  <div class="list-group-item text-white bg-dark">
    <span class="fa fa-creative-commons fa-4x mr-2"></span>
    <h4>Attributions</h4>
  </div>
  <div class="list-group-item">
    <div>
      <h4>Icons: Restaurant Elements</h4>
      <div class="description">
        by
        <a href="https://www.freepik.com/">freepik</a>
      </div>
    </div>
  </div>
  <div class="list-group-item">
    <div>
      <h4>Icons: Summer</h4>
      <div class="description">
        by
        <a href="https://www.freepik.com/">freepik</a>
      </div>
    </div>
  </div>
</div>
{{>_end}}