{{>_start}}
<nav class="header-bar">
  <a href="index.html" class="btn btn-link btn-sm mr-2 text-white">
    <span class="fa fa-chevron-left"></span>
  </a>
  <h4>Τραπέζια</h4>
</nav>
<div class="list-menu">
  {{#each tables}}
  <a href="table.html" class="list-group-item">
    <h4>{{name}}</h4>
    <div class="status" style="background:{{color}};width: 130px;">{{status}}</div>
  </a>
  {{/each}}
</div>
{{>_end}}