{{>_start}}
<nav class="bg-dark sticky-top p-2 d-flex">
  <a href="index.html" class="btn btn-link btn-sm mr-2 text-white">
    <span class="fa fa-chevron-left"></span>
  </a>
  <h4 class="text-white m-0" style="font-weight:300">Τραπέζια</h4>
</nav>
<div class="list-group list-group-flush menu pb-5">
  {{#each tables}}
  <a href="table.html" class="list-group-item list-group-item-action d-flex align-items-center">
    <div class="rounded text-center text-monospace text-white mr-2" style="font-size:1rem;background:{{color}};width:100px">{{status}}</div>
    <h4 class="m-0">Τραπέζι - {{name}}</h4>
  </a>
  {{/each}}
</div>
{{>_end}}