{{>_start themeColor="#343a40"}}
<nav class="header-bar">
  <a href="tables.html" class="btn btn-link btn-sm mr-2 text-white">
    <span class="fa fa-chevron-left"></span>
  </a>
  <div class="header">
    <h4>Τραπέζι #06</h4>
    <h5>Επισκόπιση</h5>
  </div>
  <a href="table-settings.html" class="ml-auto mr-2 btn btn-lg btn-link text-light">
    <span class="fa fa-bars"></span>
  </a>
</nav>
<div class="list-menu mb-0">
  <div class="list-group-item d-flex align-items-center bg-light">
    <span class="icon fi-restaurant flaticon-waiter"></span>
    <h4>Παραγγελίες</h4>
  </div>
  {{#each items}}
  <div class="list-group-item">
    <div>
      <span>{{label}} - </span>
      <strong class="text-monospace">{{price}}&euro;</strong>
    </div>
    {{#if isServed}}
    <div class="badge badge-dark p-2 ml-auto">ΠΑΡΑΔ.</div>
    {{/if}}
  </div>
  {{/each}}
  <div class="list-group-item">
    <a href="order-new.html" class="btn btn-block btn-lg btn-success">
      <span class="fa fa-plus-circle"></span> Νέα Παραγγελία
    </a>
  </div>
  <div class="list-group-item d-flex align-items-center bg-light">
    <span class="icon fi-restaurant flaticon-wallet"></span>
    <h4>Πληρωμές</h4>
  </div>
  <div class="list-group-item">
    <dl class="row w-75 mx-auto mb-0">
      <dt class="col-4 text-right">Σύνολο:</dt>
      <dd class="col-8 text-monospace text-right">28,00&euro;</dd>
      <dt class="col-4 text-right">Πληρωμένο:</dt>
      <dd class="col-8 text-monospace text-right">7,00&euro;</dd>
      <dt class="col-4 text-right">Πουρμπουάρ:</dt>
      <dd class="col-8 text-monospace text-right">3,00&euro;</dd>
      <dt class="col-4 text-right">Υπόλοιπο:</dt>
      <dd class="col-8 text-monospace text-right">15,00&euro;</dd>
    </dl>
  </div>
  <div class="list-group-item">
    <a href="order-payment.html" class="btn btn-block btn-lg btn-success">
      <span class="fa fa-credit-card"></span> Νέα Πληρωμή
    </a>
  </div>
  <div class="list-group-item">
    <a href="tables.html" class="m-1 btn btn-lg btn-success btn-block">
      <span class="fa fa-check-circle"></span> Κλείσιμο Τραπεζιού</a>
  </div>
</div>
{{>_end}}