<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8' />
  <meta content='IE=edge' http-equiv='X-UA-Compatible' />
  <meta content='width=device-width, initial-scale=1' name='viewport' />
  <meta content='Christos Georgiou' name='author' />
  <meta name='robots' content='index,follow'>
  <link rel="manifest" href="/manifest.json">
  <title>Templates</title>
  <link rel='stylesheet' type='text/css' href="/icons/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/icons/restaurant/flaticon.css">
  <link rel="stylesheet" type="text/css" href="/icons/summer/flaticon.css">
  <link rel="stylesheet" type="text/css" href="/icons/hotel/flaticon.css">
  <link rel='stylesheet' type='text/css' href='/css/style.min.css'>
  <meta name="theme-color" content="{{themeColor}}">
</head>

<body>