<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8' />
  <meta content='IE=edge' http-equiv='X-UA-Compatible' />
  <meta content='width=device-width, initial-scale=1' name='viewport' />
  <meta content='Restaurant | Balnc' name='author' />
  <meta name='robots' content='index,follow'>
  <link rel="manifest" href="manifest.json">
  <title>Restaurant | Balnc</title>
  <link rel='stylesheet' type='text/css' href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/icons/restaurant/flaticon.css">
  <link rel="stylesheet" type="text/css" href="/icons/summer/flaticon.css">
  <link rel='stylesheet' type='text/css' href='/css/style.min.css'>
</head>

<body>