    /*
    Flaticon icon font: Flaticon
    Creation date: 21/05/2018 12:19
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-skewer:before { content: "\f100"; }
.flaticon-002-butterfly:before { content: "\f101"; }
.flaticon-003-cap:before { content: "\f102"; }
.flaticon-004-cauldron:before { content: "\f103"; }
.flaticon-005-scooter-1:before { content: "\f104"; }
.flaticon-006-mattress:before { content: "\f105"; }
.flaticon-007-bike:before { content: "\f106"; }
.flaticon-008-shower:before { content: "\f107"; }
.flaticon-009-shell:before { content: "\f108"; }
.flaticon-010-fan:before { content: "\f109"; }
.flaticon-011-axe:before { content: "\f10a"; }
.flaticon-012-bonfire:before { content: "\f10b"; }
.flaticon-013-skate:before { content: "\f10c"; }
.flaticon-014-water:before { content: "\f10d"; }
.flaticon-015-thermometer:before { content: "\f10e"; }
.flaticon-016-pinwheel:before { content: "\f10f"; }
.flaticon-017-fins:before { content: "\f110"; }
.flaticon-018-scooter:before { content: "\f111"; }
.flaticon-019-cruise:before { content: "\f112"; }
.flaticon-020-calendar:before { content: "\f113"; }
.flaticon-021-swimsuit:before { content: "\f114"; }
.flaticon-022-bird:before { content: "\f115"; }
.flaticon-023-flower:before { content: "\f116"; }
.flaticon-024-beer:before { content: "\f117"; }
.flaticon-025-compass:before { content: "\f118"; }
.flaticon-026-leaning-tower-of-pisa:before { content: "\f119"; }
.flaticon-027-airplane:before { content: "\f11a"; }
.flaticon-028-umbrella:before { content: "\f11b"; }
.flaticon-029-table:before { content: "\f11c"; }
.flaticon-030-bottle:before { content: "\f11d"; }
.flaticon-031-slippers:before { content: "\f11e"; }
.flaticon-032-bungalow:before { content: "\f11f"; }
.flaticon-033-soda:before { content: "\f120"; }
.flaticon-034-guitar:before { content: "\f121"; }
.flaticon-035-lifebuoy:before { content: "\f122"; }
.flaticon-036-bus:before { content: "\f123"; }
.flaticon-037-women-hat:before { content: "\f124"; }
.flaticon-038-sun:before { content: "\f125"; }
.flaticon-039-water-gun:before { content: "\f126"; }
.flaticon-040-running-shoes:before { content: "\f127"; }
.flaticon-041-sand-castle:before { content: "\f128"; }
.flaticon-042-backpack:before { content: "\f129"; }
.flaticon-043-hotel:before { content: "\f12a"; }
.flaticon-044-palm-tree:before { content: "\f12b"; }
.flaticon-045-tshirt:before { content: "\f12c"; }
.flaticon-046-camera:before { content: "\f12d"; }
.flaticon-047-grill:before { content: "\f12e"; }
.flaticon-048-float:before { content: "\f12f"; }
.flaticon-049-bench:before { content: "\f130"; }
.flaticon-050-ticket:before { content: "\f131"; }
.flaticon-051-cocktail:before { content: "\f132"; }
.flaticon-052-hot-air-balloon:before { content: "\f133"; }
.flaticon-053-diving-mask:before { content: "\f134"; }
.flaticon-054-map:before { content: "\f135"; }
.flaticon-055-frisbee:before { content: "\f136"; }
.flaticon-056-passport:before { content: "\f137"; }
.flaticon-057-mountain:before { content: "\f138"; }
.flaticon-058-beach-ball:before { content: "\f139"; }
.flaticon-059-boat:before { content: "\f13a"; }
.flaticon-060-volleyball:before { content: "\f13b"; }
.flaticon-061-trailer:before { content: "\f13c"; }
.flaticon-062-glass:before { content: "\f13d"; }
.flaticon-063-duck:before { content: "\f13e"; }
.flaticon-064-swimming-pool:before { content: "\f13f"; }
.flaticon-065-shorts:before { content: "\f140"; }
.flaticon-066-oxygen:before { content: "\f141"; }
.flaticon-067-tent:before { content: "\f142"; }
.flaticon-068-kayak:before { content: "\f143"; }
.flaticon-069-kite:before { content: "\f144"; }
.flaticon-070-ice-cream-1:before { content: "\f145"; }
.flaticon-071-suitcase:before { content: "\f146"; }
.flaticon-072-watermelon:before { content: "\f147"; }
.flaticon-073-coconut:before { content: "\f148"; }
.flaticon-074-sand:before { content: "\f149"; }
.flaticon-075-ice-cream:before { content: "\f14a"; }
.flaticon-076-sunbed:before { content: "\f14b"; }
.flaticon-077-sunblock:before { content: "\f14c"; }
.flaticon-078-surfboard:before { content: "\f14d"; }
.flaticon-079-beach-bag:before { content: "\f14e"; }
.flaticon-080-sunglasses:before { content: "\f14f"; }
    
    $font-Flaticon-001-skewer: "\f100";
    $font-Flaticon-002-butterfly: "\f101";
    $font-Flaticon-003-cap: "\f102";
    $font-Flaticon-004-cauldron: "\f103";
    $font-Flaticon-005-scooter-1: "\f104";
    $font-Flaticon-006-mattress: "\f105";
    $font-Flaticon-007-bike: "\f106";
    $font-Flaticon-008-shower: "\f107";
    $font-Flaticon-009-shell: "\f108";
    $font-Flaticon-010-fan: "\f109";
    $font-Flaticon-011-axe: "\f10a";
    $font-Flaticon-012-bonfire: "\f10b";
    $font-Flaticon-013-skate: "\f10c";
    $font-Flaticon-014-water: "\f10d";
    $font-Flaticon-015-thermometer: "\f10e";
    $font-Flaticon-016-pinwheel: "\f10f";
    $font-Flaticon-017-fins: "\f110";
    $font-Flaticon-018-scooter: "\f111";
    $font-Flaticon-019-cruise: "\f112";
    $font-Flaticon-020-calendar: "\f113";
    $font-Flaticon-021-swimsuit: "\f114";
    $font-Flaticon-022-bird: "\f115";
    $font-Flaticon-023-flower: "\f116";
    $font-Flaticon-024-beer: "\f117";
    $font-Flaticon-025-compass: "\f118";
    $font-Flaticon-026-leaning-tower-of-pisa: "\f119";
    $font-Flaticon-027-airplane: "\f11a";
    $font-Flaticon-028-umbrella: "\f11b";
    $font-Flaticon-029-table: "\f11c";
    $font-Flaticon-030-bottle: "\f11d";
    $font-Flaticon-031-slippers: "\f11e";
    $font-Flaticon-032-bungalow: "\f11f";
    $font-Flaticon-033-soda: "\f120";
    $font-Flaticon-034-guitar: "\f121";
    $font-Flaticon-035-lifebuoy: "\f122";
    $font-Flaticon-036-bus: "\f123";
    $font-Flaticon-037-women-hat: "\f124";
    $font-Flaticon-038-sun: "\f125";
    $font-Flaticon-039-water-gun: "\f126";
    $font-Flaticon-040-running-shoes: "\f127";
    $font-Flaticon-041-sand-castle: "\f128";
    $font-Flaticon-042-backpack: "\f129";
    $font-Flaticon-043-hotel: "\f12a";
    $font-Flaticon-044-palm-tree: "\f12b";
    $font-Flaticon-045-tshirt: "\f12c";
    $font-Flaticon-046-camera: "\f12d";
    $font-Flaticon-047-grill: "\f12e";
    $font-Flaticon-048-float: "\f12f";
    $font-Flaticon-049-bench: "\f130";
    $font-Flaticon-050-ticket: "\f131";
    $font-Flaticon-051-cocktail: "\f132";
    $font-Flaticon-052-hot-air-balloon: "\f133";
    $font-Flaticon-053-diving-mask: "\f134";
    $font-Flaticon-054-map: "\f135";
    $font-Flaticon-055-frisbee: "\f136";
    $font-Flaticon-056-passport: "\f137";
    $font-Flaticon-057-mountain: "\f138";
    $font-Flaticon-058-beach-ball: "\f139";
    $font-Flaticon-059-boat: "\f13a";
    $font-Flaticon-060-volleyball: "\f13b";
    $font-Flaticon-061-trailer: "\f13c";
    $font-Flaticon-062-glass: "\f13d";
    $font-Flaticon-063-duck: "\f13e";
    $font-Flaticon-064-swimming-pool: "\f13f";
    $font-Flaticon-065-shorts: "\f140";
    $font-Flaticon-066-oxygen: "\f141";
    $font-Flaticon-067-tent: "\f142";
    $font-Flaticon-068-kayak: "\f143";
    $font-Flaticon-069-kite: "\f144";
    $font-Flaticon-070-ice-cream-1: "\f145";
    $font-Flaticon-071-suitcase: "\f146";
    $font-Flaticon-072-watermelon: "\f147";
    $font-Flaticon-073-coconut: "\f148";
    $font-Flaticon-074-sand: "\f149";
    $font-Flaticon-075-ice-cream: "\f14a";
    $font-Flaticon-076-sunbed: "\f14b";
    $font-Flaticon-077-sunblock: "\f14c";
    $font-Flaticon-078-surfboard: "\f14d";
    $font-Flaticon-079-beach-bag: "\f14e";
    $font-Flaticon-080-sunglasses: "\f14f";